.booking-widget-wrapper{
    position: sticky;
    top:1.5rem;
    max-width:22rem;
    height:auto;
    border: 1rem;
    border-color: black;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
    padding: 1.5rem;
    gap:0.5rem;
    margin-left: auto;
    box-shadow: rgba(0, 0, 0, 0.25) 2px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.booking-form-container{
    display: flex;
    flex-direction: column;
    border:2px solid rgb(129, 127, 127);
    border-radius:12px
}

.price{
    text-align: center;
}

.booking-form-dates{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 2px solid rgb(129, 127, 127);
    /* border: 2px solid black; */

}

.check-in, .check-out{
    padding: 4px;
}
.check-out{
    border-left: 2px solid rgb(129, 127, 127);
    /* border-left: 0.1rem;
    border-color: rgb(124, 116, 116);
    border-style: solid;
    padding: 0.25rem 0.25rem;
    padding-bottom: 0.75rem; */

}

.guests{
    padding: 4px;

    /* border-top: 0.1rem; */
    /* border-color: rgb(124, 116, 116);
    border-style: solid;
    padding: 0.25rem 0.25rem; */
    

}

.booking-btn{
    
}