.wrap{
    position:relative;
    /* overflow:hidden; */
    width:auto;
    height: auto;
}

.button-next, .button-prev{
    position: absolute;
    border-radius: 3rem;
    background-color: white;
    width: 3rem;
    height: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 85%;
}

.button-next{
    top:50%;
    right:1%;
}

.button-prev{
    top:50%;
    left:1%;
}

.button-prev:hover,.button-next:hover{
    transform: scale(1.08);
    opacity: 100%;
}


.wrap .slides{
    display: flex;
    position: relative;
    left:0px;
    width: 100%;
    height: 100%;
    transition: 0.5s ease;
}

.wrap .slides img{
    width:100%;
    /* width: 480px; */
    cursor: pointer;
}

.wrap .slides :nth-child(1){
    /* opacity: 20%; */
}
